park-app/${project.build.directory}/classes/XSD/areas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="areas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="area" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nameA"/>
              <xs:element type="xs:string" name="nameP"/>
              <xs:element type="xs:float" name="extension"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>